
    body {
      font-family: Courier, monospace;
      font-size: 20px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    #video1 {
      display: flex;
      justify-content: center; /* Horizontal zentrieren */
      align-items: center;      /* Vertikal zentrieren */
    
    }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #504f4f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  thead {
    background-color: #c6630c;
    color: #5a5a5a;
  }
  tbody tr:nth-child(even) {
    background-color: #6c6c6c;
  }
  tbody tr:hover {
    background-color: #c6630c;
  }
  th {
    font-size: 18px;
    background-color:#c6630c
  }
  td {
    font-size: 16px;
  }

    #video2 {
      display: flex;
      justify-content: center; /* Horizontal zentrieren */
      align-items: center;      /* Vertikal zentrieren */
      /* Volle Höhe des Viewports */
    }

    #video13 {
      display: flex;
      justify-content: center; /* Horizontal zentrieren */
      align-items: center;      /* Vertikal zentrieren */
      * Volle Höhe des Viewports */
    }
    
    header {
      background-color: #333;
      color: #f6ff50;s
      padding: 15px;
      text-align: center;
      width: 100%;
    }

    div {
      display: flex;
      padding: 20px;
      margin: 5%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }



  
    nav {
      font-family: Courier, monospace;
      font-size: 10px;
      padding: 0px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border-bottom: 2px solid #ccc;
    }
    nav a {
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    nav a:hover {
      background-color: #c6630c;
    }
    nav a.active {
      background-color: #04AA6D;
      color: white;
    }
    main {
      padding: 20px;
      flex-grow: 1;
    }
    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      width: 100%;
      position: fixed;
      bottom: 0;
    }